.choose {
    padding-top: 270px;
    padding-bottom: 388px;
    position: relative;

    &__inner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__info {
        max-width: 460px;  
    }
    &__title {
        margin-bottom: 20px;
    }
    &__text {
        line-height: 150%;
        margin-bottom: 28px;
    }
    & .btn {
        padding: 13px 33px;
    }
}

// images

.choose-bg {
	position: absolute;
	top: 1px;
    left: -17px;
}

.choose-circle-1 {
    position: absolute;
    top: 70px;
    left: -68px;
    transform: rotate(15deg);
}

.choose-circle-2 {
    position: absolute;
    top: 462px;
    left: 181px;
}

.choose__img-1,
.choose__img-2,
.choose__img-3 {
    position: absolute; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px; 
}

.choose__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.choose__img-1 {
    top: 145px;
    left: 618px;
    z-index: 5;
}

.choose__img-2 {
    top: 253px;
    left: 362px;
    z-index: 6;
}

.choose__img-3 {
    top: 465px;
    left: 523px;
    z-index: 7;
}

.choose-bg-mobile {
    display: none;
}

// media

@media (max-width: 1760px) {
    .choose-bg {
        left: -160px;
    }
    .choose-circle-1 {
        left: -215px;
    }
    .choose__img-1 {
        left: 475px;
    }
    .choose__img-2 {
        left: 220px;
    }
    .choose__img-3 {
        left: 385px;
    }
}

@media (max-width: 1390px) {
    .choose-bg {
        left: -260px;
    }
    .choose-circle-1 {
        left: -313px;
    }
    .choose-circle-2 {
        left: -100px;
    }
    .choose__img-1 {
        left: 375px;
    }
    
    .choose__img-2 {
        left: 120px;
    }
    .choose__img-3 {
        left: 285px;
    }
}

@media (max-width: 1200px) {
    .choose {
        padding-top: 134px;
        padding-bottom: 307px;
    }
    .choose__info {
        max-width: 440px;  
    }
    .choose__text {
        margin-bottom: 20px;
    }
    .choose-bg {
        left: -360px;
        top: -140px;
    }
    .choose-circle-1 {
        left: -433px;
        top: -76px;
    }
    .choose-circle-2 {
        left: -363px;
        top: 346px;
        width: 90%;
    }
    .choose__img-1 {
        left: 327px;
        top: 71px;
        width: 243px;
        height: 200px;
    }
    .choose__img-2 {
        left: 122px;
        top: 157px;
        width: 243px;
        height: 252px;
    }
    .choose__img-3 {
        left: 253px;
        top: 330px;
        width: 243px;
        height: 200px;
    }
}

@media (max-width: 1150px) {
    .choose-bg {
        left: -450px;
    }
    .choose-circle-1 {
        top: -51px;
    }    
    .choose-circle-2 {
        left: -185px;
    }
    .choose__img-1 {
        left: 250px;
    }
    .choose__img-2 {
        left: 97px;
    }
    .choose__img-3 {
        left: 213px;
    }
}

@media (max-width: 960px) {
    .choose {
        padding-top: 13px;
        padding-bottom: 151px;
    }
    .choose__info {
        max-width: 340px;  
    }
    .choose__text {
        margin-bottom: 20px;
    }
    .choose .btn {
        width: 100%;
    }
    .choose-bg {
        left: -422px;
        top: -186px;
        height: 162%;
    }
    .choose-circle-1 {
        display: none;
    }
    .choose-circle-2 {
        left: -365px;
        top: 205px;
    }
    .choose__img-1 {
        left: 161px;
        top: -24px;
        width: 209px;
        height: 170px;
    }
    .choose__img-2 {
        left: 71px;
        top: 52px;
        width: 209px;
        height: 218px;
    }
    .choose__img-3 {
        left: 117px;
        top: 199px;
        width: 209px;
        height: 170px;
    }
}

@media (max-width: 900px) {
    .choose {
        padding-bottom: 119px;
    }
    .choose-bg {
        left: -456px;
    }
    .choose-circle-2 {
        left: -453px;
        top: 203px;
    }
    .choose__img-1 {
        left: 95px;
    }
    .choose__img-2 {
        left: 0;
    }
    .choose__img-3 {
        left: 50px; 
    }

}

@media (max-width: 790px) {
    .choose-bg {
        left: -540px;   
    }
    .choose-circle-2 {
        left: -453px;
        top: 203px;
    }
    .choose__img-1 {
        left: 29px;
    }
    .choose__img-2 {
        left: -30px;
    }
    .choose__img-3 {
        left: -10px; 
    }
}

@media (max-width: 640px) {
    .choose {
        padding-bottom: 115px;
    }
    .choose__info {
        max-width: 300px;
    }
    .choose-bg {
        left: -600px;
        top: -153px;
    }
    .choose-circle-2 {
        left: -456px;
        top: 148px;
    }
    .choose__img-1 {
        left: 0;
        top: 2px;
    }
    .choose__img-2 {
        left: -90px;
        top: 72px;
    }
    .choose__img-3 {
        left: -45px;
        top: 225px;
    }

}

@media (max-width: 590px) {
    .choose-bg {
        left: -650px;
    }
    .choose-circle-2 {
        display: none;
    }
    .choose__img-1 {
        left: -20px;
    }
    .choose__img-2 {
        left: -110px;
    }
    .choose__img-3 {
        left: -60px;
    }

}

@media (max-width: 590px) {
    .choose-bg {
        left: -700px;
    }
    .choose__img-1 {
        left: -70px;
    }
    .choose__img-2 {
        left: -130px;
    }
    .choose__img-3 {
        left: -90px;
    }

}

@media (max-width: 480px) {
    .choose {
        padding-bottom: 584px;
    }
    .choose-bg {
        display: none;
    }
    .choose-bg-mobile {
        display: block;
        position: absolute;
        top: 376px;
    }
    .choose-circle-2 {
        display: none;
    }
    .choose-circle-1 {
        display: none;
    }
    .choose__img-1 {
        top: 448px;
        left: 180px;
    }
    .choose__img-2 {
        top: 522px;
        left: 90px;
    }
    .choose__img-3 {
        top: 668px;
        left: 133px;
    }
}

@media (max-width: 420px) {
    .choose__img-1 {
        left: 117px;
    }
    .choose__img-2 {
        left: 40px;
    }
    .choose__img-3 {
        left: 90px;
    }
}