.footer {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: $white;
    position: relative;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
    &__nav-list {
        display: flex; 
    }
    &__nav-item:not(:last-child) {
        margin-right: 30px;
    }
    &__nav-item {
        font-size: 16px; 
    }
    &__nav-link {
        color: $black;
        transition: all ease .2;
        &:hover {
            opacity: .8;
        }
    }
    &__social-item {
        height: 22px;
        transition: all ease .2s;
    }
    &__social-item:hover {
        svg path {
            fill: $blue;
        } 
    }
    &__social-item:not(:last-child) {
        margin-right: 20px;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgb(220, 221, 225);
        padding-top: 20px;
    }
    &__bottom-link,
    &-copyright {
        font-size: 14px;
        color: $grey;
        transition: all ease .2;
        margin-right: 60px;
        &:hover {
            opacity: .7;
        }
    }
    &-copyright {
        font-size: 16px;
    }
    
    &__bottom-link--black {
        font-size: 14px;
        color: $grey;
        b {
            color: #000000;
            font-weight: 700;
        }
        span {
            color: red;
        }
    }
    &__bottom-left {
        display: flex;
        align-items: center;
    }
    &__bottom-right {
        display: flex;
        align-items: center;
    }
    &__bottom-icon {
        width: 115px;
        height: 27px;
        margin: 0;
        margin-right: 0;
        display: inline-block;
        align-self: flex-end;
        img {
            width: 100%;

        }
    }
    &__logo {
        width: 132px;
        height: 31px;
    }

}

// media 

@media (max-width: 1200px) {
    .footer__bottom-icon {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .footer__bottom {
        position: relative;
        padding-bottom: 35px;
    }
}

@media (max-width: 960px) {
    .footer {
        padding-top: 24px;
    }
    .footer__top {
        flex-wrap: wrap; 
        margin-bottom: 33px;
    }
    .footer__nav {
        order: 1;
    }
    .footer__logo {
        margin-bottom: 14px;
    }
    .footer__bottom-right {
        align-items: flex-end;
    }
    .footer__bottom-left {
        align-items: flex-start;
    }
    .footer-copyright {
        margin-right: 0;
        order: 1;
    }
    .footer__bottom-right,
    .footer__bottom-left {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .footer__bottom-link:first-child {
        margin-right: 0;
    }
    .footer__social {
        align-self: flex-start;
    }
}

@media (max-width: 640px) {
    .footer__bottom-left a {
        margin-right: 0;
    }
    .footer {
        padding-top: 17px;
    }
    .footer-copyright {
        order: 1;
    }
}

@media (max-width: 480px) {
    .footer {
        padding-top: 40px;
    }
    .footer__nav-list {
        flex-wrap: wrap;
    }
    .footer__nav-item {
        width: 50%;
        margin: 0 0 10px 0 !important;
        
    }
    .footer__nav-item:nth-child(even) {
        text-align: right;
    }
    .footer__top {
        margin-bottom: 15px;
    }
    .footer__bottom {
        flex-direction: column;
        align-items: center;
    }
    .footer__bottom-left a {
        margin-right: auto;
    }
    .footer__bottom-link,
    .footer__bottom-icon,
    .footer__bottom-left,
    .footer__bottom-right,
    .footer-copyright {
        margin: 0 auto;
    }
    .footer__bottom-link:first-child {
        margin-right: 0;
        margin: 0 auto;
    }
    .footer-copyright:first-child {
        margin-right: 0;
    }
    .footer__bottom-right {
        align-items: center;
        width: 100%;
    }
    .footer__bottom-left {
        margin: 0 0 30px 0 !important;
        width: 100%;
        font-size: 14px;
    }
    .footer__bottom-link,
    .footer-copyright {
        font-size: 16px;
        text-align: center;
    }
    .footer-copyright {
        order: 1;
        padding-top: 42px;
        margin: 0;
    }
    .footer__bottom-icon {
        position: absolute;
        top: 63%;
        left: 50%;
        margin: 0;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    .footer__social {
        order: 1;
        margin-left: auto;
    }
}