.rates {
    padding-top: 99px;
    padding-bottom: 75px;

    &__title {
        margin-bottom: 24px;
    }
    &__slider {
        overflow: hidden;
    }
    &__navigation {
        display: none;
    }
}

.rates__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 31px 46px;
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 8px;

    &-title {
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
        margin-bottom: 27px;
    }
    &-points {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 15px;
    }
    &-point {
        max-width: 296px;
        position: relative;
        padding-left: 28px;
        margin-bottom: 15px;
        &::before {
            content: '';
            position: absolute;
            background: url(../img/rates-check.svg);
            width: 18px;
            height: 18px;
            left: 0;
            top: 0;
        }  
    }
    &-point--withoutcheck {
        text-align: center;
        padding-left: 0;
        &::before {
            content: none; 
        }
    }
    &-bottom {
        width: 100%;
    }
    &-price {
        font-size: 24px;
        font-weight: 700;
        line-height: 100%;
        margin-bottom: 23px;
        margin-top: auto;
        text-align: center;  
    }
    &-btn {
        max-width: 296px;
        width: 100%;
        border: 1px solid #4B5DFF;
        background-color: transparent;
        line-height: 100%;
        text-align: center;
        color: $black;
        transition: all ease .3;
        &:hover {
            background-color: #2A3FFF;
            color: $white; 
        }
    }
}

.rates__item--active {
    background-color: $blue;
    color: $white;
    .rates__item-point {
        &::before {
            content: '';
            position: absolute;
            background: url(../img/rates-check-white.svg);
            width: 18px;
            height: 18px;
            left: 0;
            top: 0;
        }  
    }
    .rates__item-point--withoutcheck {
        text-align: center;
        padding-left: 0;
        &::before {
            content: none; 
        }
    }
    .rates__item-btn {
        background-color: $white;
        &:hover {
            background-color: #2A3FFF;
        }
    }
}

.rates__slider {
    display: none;
}

.rates__slider.show {
    display: block;
}

.rates .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: auto;
}

// switch

.switch__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 102px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 31px;
    margin: 0 20px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $blue;
    transition: all .4s ease;
    border-radius: 16px;
}

.switch input {
    display: none;
}

.slider:before {
    position: absolute;
    content: '';
    height: 27px;
    width: 27px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: all .4s ease;
    border-radius: 50px;
}

input:checked + .slider {
    background-color: $blue;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

// media

@media (max-width: 1200px) {
    .rates {
        padding-top: 43px;
        padding-bottom: 65px;
    }
    .switch__wrapper {
        margin-bottom: 60px;
    }
    .rates__item {
        padding: 30px;
    }
    .rates__item-title {
        font-size: 28px;
    }
}

@media (max-width: 960px) {
    .rates {
        padding-bottom: 36px;
    }    
    .rates__title {
        margin-bottom: 15px;
    }
    .switch__wrapper {
        margin-bottom: 35px;
    }
    .rates__item {
        padding-top: 75px;
        // нужно исправить !!!
        max-height: 245px; 
        justify-content: flex-start;
    }
    .rates__item-title {
        position: absolute;
        left: 27px;
        top: 27px;
        font-size: 24px;
    }
    .rates__item-price {
        position: absolute;
        right: 31px;
        top: 30px;
        font-size: 24px;
    }
    .rates__item-points {
        display: flex;
        flex-wrap: wrap;  
        justify-content: space-between;
        margin-bottom: 0;
        
    }
    .rates__item-point {
        max-width: 275px;
        font-size: 14px;
        margin-bottom: 0;
    }
    .rates__item--active .rates__item-point--withoutcheck {
        text-align: left;
    }
    .rates__item-btn {
        align-self: flex-end;
        max-width: 260px;
        margin-top: -10px;
    }
}

@media (max-width: 640px) {
    .rates {
        padding-bottom: 39px;
    }
    .rates__item {
        max-height: none;
        margin-bottom: 50px;
        padding: 18px;
        padding-top: 75px;
    }
    .rates__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .rates__navigation__prev,
    .rates__navigation__next {
        cursor: pointer;
    }
    .rates .swiper-pagination-bullets.swiper-pagination-horizontal {
        text-align: center;
    }
    .rates__pagination {
        margin-top: 5px;
        padding-bottom: 3px;
    }
    .rates__prev,
    .rates__next {
        width: 30px;
        height: 30px;
    }
    .rates .rates__pagination {
        padding: 0 20px;
        margin-top: 0;
    }
    .rates .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
    .rates .swiper-pagination-bullet-active {
        background-color: $blue;
    }
    .rates__item-btn {
        width: 100%;
        max-width: none;
        margin-top: auto;
        margin-bottom: 12px;
    }
    .rates__item-point {
        margin-bottom: 5px;
        width: 100%;
    }
    .rates__item-points {
        margin-bottom: 40px;
        flex-direction: column;
        margin-right: auto;
    }
    .rates__item-price {
        right: 18px;
    }
    .rates__item-title {
        left: 20px;
    }
}

@media (max-width: 480px) {
    .rates {
        padding-top: 32px;
    }
    .rates__title {
        margin-bottom: 19px;
    }
    .switch__wrapper {
        margin-bottom: 31px;
    }
    .rates__item {
        margin-bottom: 30px;
        padding: 30px;
    }
    .rates__item-title,
    .rates__item-price {
        position: static;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .rates__item--active .rates__item-point--withoutcheck {
        text-align: center;
    }
    .rates__item-points {
        margin-bottom: 11px;
    }
    .rates__item-point {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .rates .rates__navigation {
        width: 100%;
        max-width: none;
    }
    .rates__pagination {
        margin: auto;
    }
    .switch__text {
        font-size: 14px;
    }
    .switch__btn {
        margin: auto 18px;
    }
    .rates__item-btn {
        margin-bottom: 0;
    }
}