.rates {
    padding-top: 90px;
    padding-bottom: 75px;

    &__title {
        margin-bottom: 30px;
    }
    &__slider {
        overflow: hidden;
    }
    &__navigation {
        display: none;
    }
}

.rates__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 38px 46px;
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 8px;

    &-title {
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
        margin-bottom: 30px;
    }
    &-points {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 15px;
    }
    &-point {
        max-width: 296px;
        position: relative;
        padding-left: 28px;
        margin-bottom: 15px;
        &::before {
            content: '';
            position: absolute;
            background: url(../img/rates-check.svg);
            width: 18px;
            height: 18px;
            left: 0;
            top: 0;
        }  
    }
    &-point--withoutcheck {
        text-align: center;
        padding-left: 0;
        &::before {
            content: none; 
        }
    }
    &-bottom {
        width: 100%;
    }
    &-price {
        font-size: 24px;
        font-weight: 700;
        line-height: 100%;
        margin-bottom: 30px;
        text-align: center;  
    }
    &-btn {
        max-width: 296px;
        width: 100%;
        border: 1px solid #4B5DFF;
        background-color: transparent;
        line-height: 100%;
        text-align: center;
        color: $black;
        transition: all ease .3;
        &:hover {
            background-color: #2A3FFF;
            color: $white; 
        }
    }
}

.rates__item--active {
    background-color: $blue;
    color: $white;
    .rates__item-point {
        &::before {
            content: '';
            position: absolute;
            background: url(../img/rates-check-white.svg);
            width: 18px;
            height: 18px;
            left: 0;
            top: 0;
        }  
    }
    .rates__item-point--withoutcheck {
        text-align: center;
        padding-left: 0;
        &::before {
            content: none; 
        }
    }
    .rates__item-btn {
        background-color: $white;
        &:hover {
            background-color: #2A3FFF;
        }
    }
}

.rates__slider-2 {
    display: none;
}

.rates .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: auto;
}

// switch

.switch__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 102px;
}

.switch__btn {
    margin: auto 20px;
    
    input[type="checkbox"] {
        position: relative;
        width: 50px;
        height: 30px;
        -webkit-appearance: none;
        outline: none;
        background: $blue;
        border-radius: 15px;
        transition: .5s;

    }
    input:checked[type="checkbox"] {
        background: $blue;
    }
    input[type="checkbox"]::before {
        cursor: pointer;
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        top: 0; 
        left: 0;
        background: #fff;
        transition: .5s;
        transform: scale(0.9);
    }
    input:checked[type="checkbox"]::before {
        left: 20px;
    }  
    input:checked[type="checkbox"] {
        .rates__slider-2 {
            display: block;
        }
    }  
}

// media

@media (max-width: 1200px) {
    .rates {
        padding-top: 35px;
        padding-bottom: 65px;
    }
    .switch__wrapper {
        margin-bottom: 60px;
    }
    .rates__item {
        padding: 30px;
    }
    .rates__item-title {
        font-size: 28px;
    }
}

@media (max-width: 960px) {
    .rates {
        padding-bottom: 28px;
    }    
    .rates__title {
        margin-bottom: 15px;
    }
    .switch__wrapper {
        margin-bottom: 35px;
    }
    .rates__item {
        padding-top: 75px;
        // нужно исправить 
        max-height: 245px; 
        justify-content: flex-start;
    }
    .rates__item-title {
        position: absolute;
        left: 27px;
        top: 27px;
        font-size: 24px;
    }
    .rates__item-price {
        position: absolute;
        right: 31px;
        top: 30px;
        font-size: 24px;
    }
    .rates__item-points {
        display: flex;
        flex-wrap: wrap;  
        justify-content: space-between;
        margin-bottom: 0;
        
    }
    .rates__item-point {
        max-width: 275px;
        font-size: 14px;
        margin-bottom: 0;
    }
    .rates-point--withoutcheck {
        text-align: left;
    }
    .rates__item-btn {
        align-self: flex-end;
        max-width: 260px;
    }
}

@media (max-width: 640px) {
    .rates {
        padding-bottom: 39px;
    }
    .rates__item {
        max-height: none;
        margin-bottom: 50px;
    }
    .rates__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .rates__navigation__prev,
    .rates__navigation__next {
        cursor: pointer;
    }
    .rates .swiper-pagination-bullets.swiper-pagination-horizontal {
        text-align: center;
    }
    .rates__pagination {
        margin-top: 5px;
        padding-bottom: 3px;
    }
    .rates__prev,
    .rates__next {
        width: 30px;
        height: 30px;
    }
    .rates .rates__pagination {
        padding: 0 20px;
        margin-top: 0;
    }
    .rates .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
    .rates .swiper-pagination-bullet-active {
        background-color: $blue;
    }
    .rates__item-btn {
        width: 100%;
        max-width: none;
    }
    .rates__item-points {
        margin-bottom: 40px;
    }
    .rates__item-price {
        right: 18px;
    }
}

@media (max-width: 480px) {
    .rates__item {
        margin-bottom: 30px;
        padding-top: 30px;
    }
    .rates__item-title,
    .rates__item-price {
        position: static;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .rates__item-points {
        margin-bottom: 20px;
    }
    .rates__item-point {
        font-size: 16px;
    }
    .rates .rates__navigation {
        width: 100%;
        max-width: none;
    }
    .rates__pagination {
        margin: auto;
    }
}