.sell {
    padding-top: 347px;
    padding-bottom: 435px;
    position: relative;

    &__inner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__info {
        max-width: 460px;  
    }
    &__title {
        margin-bottom: 25px;
    }
    &__text {
        line-height: 150%;
        margin-bottom: 27px;
    }
    & .btn {
        padding: 13px 32px;
    }
}

// images

.sell-bg,
.sell-circle,
.sell-bg-mobile {
	position: absolute;
	top: 51px;
    left: -16px;
}

.sell__img {
    position: absolute; 
    border-radius: 8px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
 
.sell__img-1 {
    top: 289px;
    left: 360px;
    z-index: 6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sell__img-2 {
    top: 250px;
    left: 590px;
    z-index: 5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sell-bg-mobile {
    display: none;
}

// media 

@media (max-width: 1760px) {
    .sell-bg {
        left: -60px;
    }
    .sell__img-1 {
        left: 300px;
    }
    
    .sell__img-2 {
        left: 520px;
    }
}

@media (max-width: 1580px) {
    .sell-bg {
        left: -160px;
    }
    .sell__img-1 {
        left: 200px;
    }
    
    .sell__img-2 {
        left: 420px;
    }
}

@media (max-width: 1390px) {
    .sell-bg {
        left: -260px;
    }
    .sell-circle {
        left: -100px;
    }
    .sell__img-1 {
        left: 100px;
    }
    .sell__img-2 {
        left: 320px;
    }
}

@media (max-width: 1200px) {
    .sell {
        padding-top: 290px;
    }
    .sell__info {
        max-width: 440px;  
    }
    .sell__title {
        margin-bottom: 20px;
    }
    .sell__text {
        line-height: 150%;
        margin-bottom: 20px;
    }
    .sell-bg {
        top: 4px;
        left: -362px;
    }
    .sell-circle {
        left: -280px;
        top: 40px;
    }
    .sell__img-1 {
        width: 269px;
        height: 376px;
        left: 75px;
        top: 250px;
    }
    .sell__img-2 {
        width: 269px;
        height: 446px;
        left: 279px;
        top: 212px;
    }
}

@media (max-width: 1130px) {
    .sell-bg {
        top: 0px;
        left: -445px;
    }
    .sell__img-2 {
        left: 190px;
    }
    .sell__img-1 {
        left: 32px;
    }
}

@media (max-width: 960px) {
    .sell {
        padding-top: 288px;
        padding-bottom: 240px;
    }
    .sell__info {
        max-width: 340px;  
        br {
            display: none;
        }
        b {
            font-weight: 400;
        }
    }
    .sell__title {
        margin-bottom: 15px;
    }
    .sell__text {
        margin-bottom: 20px;
        padding-right: 15px;
    }
    .sell .btn {
        width: 100%;
    }
    .sell-bg {
        top: 73px;
        left: -440px;
        height: 100%;
    }
    .sell-circle {
        left: -396px;
        top: 26px;
    }
    .sell__img-1 {
        width: 199px;
        height: 280px;   
        left: 74px;
        top: 379px;
    }
    .sell__img-2 {
        width: 199px;
        height: 334px;
        left: 168px;
        top: 256px;
    }
}

@media (max-width: 920px) {
    .sell-bg {
        left: -490px;
    }
    .sell__img-2 {
        left: 119px;
    }
    .sell__img-1 {
        left: 37px;
    }
}

@media (max-width: 880px) {
    .sell-bg {
        left: -518px;
    }
    .sell__img-2 {
        left: 119px;
    }
    .sell__img-1 {
        left: 37px;
    }
}

@media (max-width: 770px) {
    .sell-bg {
        left: -580px;
    }
    .sell-circle {
        left: -427px;
    }
    .sell__img-2 {
        left: 62px;
    }
    .sell__img-1 {
        left: 20px;
    }
}

@media (max-width: 640px) {
    .sell {
        padding-bottom: 148px;
        padding-top: 287px;
    }
    .sell__info {
        max-width: 300px;
    }
    .sell__text {
        padding-right: 0;
    }
    .sell-bg {
        left: -621px;
        top: 74px;
        height: 110%;
    }
    .sell-circle {
        display: none;
    }
    .sell__img-1 {
        left: -87px;
        top: 374px;
    }
    .sell__img-2 {
        top: 251px;
        left: 7px;
    }
}

@media (max-width: 620px) {
    .sell-bg {
        left: -650px;
    }
    .sell__img-1 {
        left: -120px;
        top: 374px;
    }
    .sell__img-2 {
        top: 251px;
        left: -20px;
    }
    
}

@media (max-width: 570px) {
    .sell-bg {
        left: -693px;
    }
    .sell-circle {
        display: none;
    }
    .sell__img-2 {
        left: -60px;
    }
    .sell__img-1 {
        left: -100px;
    }
}

@media (max-width: 480px) {
    .sell {
        padding-top: 85px;
        padding-bottom: 587px;
    }
    .sell__title {
        margin-bottom: 21px;
    }
    .sell-circle {
        display: none;
    }
    .sell-bg {
        display: none;
    }
    .sell-bg-mobile {
        display: block;
        top: 416px;
        left: 0px;
    }
    .sell__img-2 {
        top: 484px;
        left: 187px;
    }
    .sell__img-1 {
        top: 607px;
        left: 92px;
    }
}

@media (max-width: 410px) {  
    .sell__img-2 {
        left: 124px;
        top: 499px;
    }
    .sell__img-1 {
        left: 60px;
        top: 651px;
    }
}

@media (max-width: 410px) {  
    .sell__img-2 {
        left: 104px;
    }
    .sell__img-1 {
        left: 40px;
    }
}
