.why {
    padding-top: 12px;
    padding-bottom: 112px;
    
    &__title {
        margin-bottom: 56px;
        max-width: 559px;
        font-size: 32px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 51px 80px;
    }
    &__item:last-child {
        grid-column: span 2;
        grid-row: span 2;
    }
    &__subtitle {
        font-size: 22px;
        font-weight: 500;
        line-height: 130%;
        margin-bottom: 20px;
    }
    &__text {
        font-size: 16px;
        line-height: 150%;
    }
}

// media

@media (max-width: 1200px) {
    .why {
        padding-top: 35px;
        padding-bottom: 43px;
    }
    .why__title {
        margin-bottom: 36px;
        font-size: 28px;
        max-width: 500px;
    }
    .why__list {
        grid-gap: 27px 60px;
    }
    .why__subtitle {
        font-size: 18px;
        margin-bottom: 15px;
    }
}

@media (max-width: 960px) {
    .why {
        padding-bottom: 100px;
        padding-top: 25px;
    }
    .why__list {
        display: flex;
        flex-direction: column;
    }
    .why__title {
        font-size: 24px;
        max-width: none;
    }
    .why__list {
        grid-gap: 30px 60px;
    }
}

@media (max-width: 640px) {
    .why {
        padding-bottom: 85px;
    }
    .why__title {
        font-size: 20px;
        margin-bottom: 41px;
    }
}

@media (max-width: 480px) {
    .why__title {
        margin-bottom: 30px;
    }
    .why__item {
        margin-bottom: 0;
    }
    .why__list {
        grid-gap: 18px 60px;
    }
}